@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://rsms.me/inter/inter.css');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #e49e4c;
  --secondary-color: #2678d9;
  --color-black: #727272;
}
